# connection URL's for running adapter specs
INFORMIX_URL    = 'informix://localhost/mydb'
MYSQL_URL       = 'mysql://root@localhost/sandbox'
ORACLE_URL      = 'oracle://hr:hr@localhost/XE'
POSTGRES_URL    = 'postgres://postgres:postgres@localhost:5432/reality_spec'
SQLITE_URL      = 'sqlite:/'