section.plugins {
	background-color: #FFF;
	border-radius: 12px;
	box-shadow: 0 24px 64px rgba(0,0,0,.15);
}

code.plugins__code {
	background-color: #eaeaea;
	border-radius: 4px;
	padding: 2px 4px;
}
